@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		<form asp-action="ForgetPassword" method="post">

			<br />
			<input class="text" asp-for="Email" placeholder="Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />
			
			<input type="submit" value="Send Email">
		</form>
		<p><a asp-action="Login">Back To Login</a></p>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}